#content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

/* styles.css */
input[type="time"] {
    /* Tilpas CSS-styling efter behov */
    width: 150px;
}
/* styles.css */
.time-icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sun {
    background-image: url('sun-50.png'); /* Indsæt sti til solbillede */
    left: 10px;
}

.moon {
    background-image: url('moon-39.png'); /* Indsæt sti til månebillede */
    left: 10px;
}

button#submit-button {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 20px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
